:root {
    --primary-font: 'Montserrat Alternates', sans-serif;;
    --secondary-font: 'Source Code Pro', monospace;
    --tirtiary-font: 'Montserrat', sans-serif;
    --txt : #838d9c;
    --fg-color: #EEEEEE;
    --bg-color: #222831;
    --bg-shade-color: #393E46;
    --primary-color: #08D9D6;
}

html, body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    /* overflow-x: hidden; */
}

.container {
    width: 75%;
    margin: 0 auto;
    font-family: var(--primary-font);
    /* width: 100%; */
}

/* NAVBAR */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    font-family: var(--primary-font);
    position: absolute;
}

#navbar .nav_logo {
    width: 100px;
}

#navbar .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--tirtiary-font);
}

#navbar .nav_list li {
    list-style-type: none;
    margin: 0 15px;
}

#navbar .nav_list li .nav_list_items {
    color: var(--fg-color);
    text-decoration: none;
    cursor: pointer;
}
#navbar .navbar_btn .btn_icon {
    width: 30px;
}

#navbar .navbar_btn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .1s all ease-in;
    display: none;
}

#navbar .navbar_btn:focus {
    transform: scale(0.9);
}

/* heading */
.heading {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--fg-color);
    font-family: var(--tirtiary-font);
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
}

.heading::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 3px;
    background:linear-gradient(45deg, var(--txt), var(--bg-color));
    bottom: 0;
    left: 0;
}

/* hamburger menu */
.hamburger_container {
    position: relative;
}

.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-shade-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    padding: 40px 0;
    transition: all .5s ease;
    transform: translateY(-500px);
}

.hamburger_list {
    text-align: center;
    list-style-type: none;
}

.hamburger_list li {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.hamburger_list li .hamburger_list_items {
    text-decoration: none;
    color: var(--fg-color);
    font-family: var(--tirtiary-font);
    font-weight: 600;
}

.hamburger_close {
    background: var(--bg-color);
    border: none;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0s ease;
    margin-top: 40px;
}

.hamburger_close:active {
    transform: scale(0.9);
}

.hamburger_close img {
    width: 40px;
}

/* Homepage Container */

.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage .homepage_dev_greetings{
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

.homepage .homepage_dev_name {
    font-size: 5rem;
    font-weight: 600;
    color: #a8b8d1;
    margin-top: 10px;
}

.homepage .homepage_dev_profession {
    font-size: 5rem;
    font-weight: 600;
    color: #8995a7;
}

.homepage .homepage_dev_intro {
    margin-top: 10px;
    color: var(--txt);
    width: 50%;
    /* font-weight: 500; */
    font-family: var(--tirtiary-font);
    line-height: 1.5rem;
}

.homepage .homepage_btn {
    padding: 10px;
    width: 100px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1rem;
    font-family: var(--primary-color);
    margin-top: 30px;
    cursor: pointer;
    transition: .2s ease ;
    text-align: center;
    text-decoration: none;
}

.homepage .homepage_btn:hover  {
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--bg-color);
}

.homepage_btn a {
    text-decoration: none;
    color: var(--primary-color);
}

/* about */

.about {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 30px; */
    padding: 50px 0;
}

.about_left {
    width: 50%;
    color: var(--txt);
    font-family: var(--tirtiary-font);
    display: flex;
    align-items: center;
}

.about_right .dev_profile {
    width: 250px;
}

/* services */

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    padding: 30px 0;
}

.services .card {
    width: 300px;
    height: 300px;
    background: var(--bg-shade-color);
    padding: 30px;
    margin: 10px;
    font-family: var(--tirtiary-font);
    color: var(--fg-color);
}

.card .icon {
    margin-bottom: 20px;
    width: 40px;
}

.card .title {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.card .desc {
    color: var(--fg-color);
    opacity: .9;
    font-size: .9rem;
}

/* projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 30px 0;
}

.projects .card {
    width: 300px;
    height: 300px;
    background: var(--bg-shade-color);
    padding: 20px 30px;
    margin: 10px;
    font-family: var(--tirtiary-font);
    color: var(--fg-color);
}

.projects .card .icon {
    margin-bottom: 20px;
}

.projects .card .desc {
    color: var(--fg-color);
    opacity: .9;
    font-size: .9rem;
    margin-bottom: 20px;
}

.projects .card .btn {
    background: transparent;
    border: none;
    margin-right: 10px;
}

.projects .card .btn .btn_icon {
    width: 30px;
}

.disable {
    filter: grayscale(100%);
    pointer-events: none;
}

/* contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fg-color);
    font-family: var(--tirtiary-font);
    opacity: 0.9;
    text-align: center;
    margin-bottom: 30px;
}

.contact .intro {
    margin: 10px 0;
}

.contact .email {
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.contact .end {
    margin: 10px 0;
}

#social {
    margin-top: 10px;
    display: flex;
    list-style-type: none;
}

#social .social_items {
    margin: 0 10px;
    font-size: 1.5rem;
}

#social .social_items a {
    text-decoration: none;
    color: var(--fg-color);
}

#social .social_items a:hover {
    color: var(--primary-color);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--bg-shade-color);
    padding: 20px 0;
    font-family: var(--tirtiary-font);
}

#footer .copyright {
    color: var(--fg-color);
    font-weight: 600;
    opacity: .9;
}

#footer .developer {
    margin-top: 10px;
    color: var(--fg-color);
    font-size: .9rem;
    opacity: .7;
}

@media screen and (max-width: 768px) {
    #navbar .nav_list {
        display: none;
    }
    #navbar .navbar_btn {
        display: flex;
    }
    .homepage .homepage_dev_name {
        font-size: 4.5rem;
    }
    .homepage .homepage_dev_profession {
        font-size: 4.5rem;
    }
    .homepage .homepage_dev_intro {
        width: 65%;
        line-height: 1.3rem;
    }
    .about {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }
    .about_left {
        width: 100%;
    }
    .about_right .dev_profile {
        margin-top: 25px;
    }
}

@media screen and (max-width: 440px) {
    .heading {
        margin-bottom: 10px;
    }
    .container {
        width: 85%;
    }
    #navbar {
        margin: 0 auto;
        padding: 10px 40px;
    }
    .homepage {
        height: 95vh;
    }
    .homepage .homepage_dev_name {
        font-size: 3rem;
    }
    .homepage .homepage_dev_profession {
        font-size: 3rem;
    }
    .homepage .homepage_dev_intro {
        width: 80%;
    }
    .homepage_dev_greetings {
        margin-top: 30px;
    }
    .about {
        padding: 20px 0;
    }
    .contact {
        width: 70%;
    }
    #contact {
        margin-bottom: 20px;
    }
    .copyright, .developer {
        font-size: .7rem;
    }
}