:root {
    --primary-font: 'Montserrat Alternates', sans-serif;;
    --secondary-font: 'Source Code Pro', monospace;
    --tirtiary-font: 'Montserrat', sans-serif;
    --txt : #838d9c;
    --fg-color: #EEEEEE;
    --bg-color: #222831;
    --bg-shade-color: #393E46;
    --primary-color: #08D9D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    /* overflow-x: hidden; */
}

.container {
    width: 75%;
    margin: 0 auto;
    font-family: var(--primary-font);
    /* width: 100%; */
}

/* NAVBAR */

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    font-family: var(--primary-font);
    position: absolute;
}

#navbar .nav_logo {
    width: 100px;
}

#navbar .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar .nav_list li {
    list-style-type: none;
    margin: 0 15px;
}

#navbar .nav_list li .nav_list_items {
    color: var(--fg-color);
    text-decoration: none;
    cursor: pointer;
}
#navbar .navbar_btn .btn_icon {
    width: 30px;
}

#navbar .navbar_btn {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .1s all ease-in;
    display: none;
}

#navbar .navbar_btn:focus {
    transform: scale(0.9);
}

/* heading */


/* hamburger menu */
.hamburger_container {
    position: relative;
}

.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-shade-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    padding: 40px 0;
    transition: all .5s ease;
    transform: translateY(-500px);
}

.hamburger_list {
    text-align: center;
    list-style-type: none;
}

.hamburger_list li {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.hamburger_list li .hamburger_list_items {
    text-decoration: none;
    color: var(--fg-color);
    font-family: var(--tirtiary-font);
    font-weight: 600;
}

.hamburger_close {
    background: var(--bg-color);
    border: none;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0s ease;
    margin-top: 40px;
}

.hamburger_close:active {
    transform: scale(0.9);
}

/* Homepage Container */

.homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage .homepage_dev_greetings{
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

.homepage .homepage_dev_name {
    font-size: 5rem;
    font-weight: 600;
    color: #a8b8d1;
    margin-top: 10px;
}

.homepage .homepage_dev_profession {
    font-size: 5rem;
    font-weight: 600;
    color: #8995a7;
}

.homepage .homepage_dev_intro {
    margin-top: 10px;
    color: var(--txt);
    width: 50%;
    /* font-weight: 500; */
    font-family: var(--tirtiary-font);
    line-height: 1.5rem;
}

.homepage .homepage_btn  {
    padding: 10px;
    width: 100px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1rem;
    font-family: var(--primary-color);
    margin-top: 30px;
    cursor: pointer;
    transition: .5s ease-in ;
}

.homepage .homepage_btn:hover  {
    background: var(--primary-color);
    border-radius: 50px;
    color: var(--bg-color);
}

/* about */

.about {
    display: flex;
    justify-content: space-between;
}

.about_left {
    width: 60%;
    color: var(--txt);
    font-family: var(--tirtiary-font);
    line-height: 1.3rem;
}

.about_right {
}

.about_right .dev_profile {
    width: 250px;
}

@media screen and (max-width: 768px) {
    #navbar .nav_list {
        display: none;
    }
    #navbar .navbar_btn {
        display: flex;
    }
    .homepage .homepage_dev_name {
        font-size: 4.5rem;
    }
    .homepage .homepage_dev_profession {
        font-size: 4.5rem;
    }
    .homepage .homepage_dev_intro {
        width: 65%;
        line-height: 1.3rem;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about_left {
        width: 100%;
    }
    .about_right .dev_profile {
        margin-top: 25px;
    }
}

@media screen and (max-width: 440px) {
    .container {
        width: 85%;
    }
    #navbar {
        margin: 0 auto;
        padding: 10px 40px;
    }
    .homepage .homepage_dev_name {
        font-size: 3rem;
    }
    .homepage .homepage_dev_profession {
        font-size: 3rem;
    }
    .homepage .homepage_dev_intro {
        width: 80%;
    }
    .homepage_dev_greetings {
        margin-top: 40px;
    }
}